h1{
  text-align:  center;
}

table {
  background-color: #FFF;
  padding: 5px;
  border: #666 5px solid;
}

.no_validado {
  font-size: 35px;
  color: #F00;
  font-weight: bold;
}

.validado {
  font-size: 25px;
  color: #0C3;
  font-weight: bold;
}
